# not tracking folders
logs/

#Python
__pycache__/
*.py[cod]
*$py.class

#LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.bcf
*.bib
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.run.xml

#tmp files
*~
*.swp

#IntelliJ IDEA
.idea/
